
    <h4 class="ui dividing header header-custom">We just need some information</h4>
    <div class="container center">
        <div class="align-items-center content-height ">

                <form [formGroup]="editForm" (ngSubmit)="onPackageAdd()">
                        <div class="row" >
                <div class="col-md-5 text-center text-md-left">
                    <div class="md-form">
                        <i class="fas fa-user prefix "></i>
                        <input formControlName="receiverFullName"  type="text" #input1 id="form1"
                             class="form-control" mdbInput>
                        <label for="form1">full name</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-phone prefix "></i>
                        <input type="text"formControlName="phoneNumber"  id="form3"
                            class="form-control" mdbInput>
                        <label for="form3">phone number</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-info-circle prefix "></i>
                        <input formControlName="notes" type="text" id="form4"
                            class="form-control" mdbInput>
                        <label for="form4">additional information</label>
                    </div>
                </div>
                <div class="col-md-5 text-center text-md-left">
                    <div class="md-form">
                        <i class="fas fa-road prefix"></i>
                        <input formControlName="streetName"  type="text" id="form5"
                            class="form-control" mdbInput>
                        <label for="form5">street name</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-home prefix"></i>
                        <input formControlName="houseNumber" type="text"  id="form6"
                            class="form-control" mdbInput>
                        <label for="form6">house number</label>
                    </div>
                    <div class="md-form">
                            <i class="fas fa-home prefix"></i>
                            <input formControlName="postalCode" type="text"  id="form7"
                                class="form-control" mdbInput>
                            <label for="form7">post code</label>
                        </div>
                    <div class="md-form">
                        <i class="fas fa-city prefix "></i>
                        <input formControlName="city" id="form8" type="text"
                            class="form-control" mdbInput>
                        <label for="form8">city</label>
                    </div>
                    <div class="md-form">
                            <i class="fas fa-map-marker prefix"></i>
                            <input formControlName="country" id="form10" type="text"
                                class="form-control" mdbInput>
                            <label for="form10">country</label>
                        </div>
                    <div class="md-form">
                        <i class="fas fa-box-open prefix "></i>
                        <input  formControlName="orderName"  type="text" id="form9"
                            class="form-control" mdbInput>
                        <label for="form9">order name</label>
                    </div>
            </div>
        </div>
            </form>

        <div class="text-center">
                <button  mdbBtn color="indigo" class="waves-light" type="submit" [disabled]="!editForm.valid" mdbWavesEffect>Add new package</button>
              
              </div>
    </div>
</div>