
.wrapper {
    display: grid;
    background-image: url("../../assets/3.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,minmax(3rem, auto));

    .description {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .login {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}