<h3 class="header-of-options">EDIT YOUR PACKAGE</h3>
<form class="ui form">
    <h4 class="ui dividing header">Packages</h4>
    <div class="field">
        <label>We just need some information:</label>
    </div>
    <div class="ui segment">
        <div class="field">
            <input placeholder="Your Surname">
        </div>
        <div class="field">
            <input placeholder="Your Company name">
        </div>
        <div class="field">
            <input placeholder="Id of package">
        </div>
        <h1>Rest of the required package datails..</h1>
    </div>
    <div class="ui button black" tabindex="0" >Edit</div>
</form>
