<h2  class="h1 h1-responsive font-bold wow fadeInLeft header-custom" >Add new package</h2>
<div *ngIf="loadingSuccess" class="alert alert-success" role="alert">
        Package was added successfully!
        <h2  class="h4 font-bold " >Your package id: {{actualSitID}}</h2>
      </div>

<div class="ui form">
    <div class="ui segment">
        <app-add-package-form [waitIsEmpty]="waitIsEmpty" [addInprogress]="loadingSuccess" (packageToAdd)="addPackage($event)"></app-add-package-form>
        <!-- <ngx-snackbar class="message-add" [position]="'top-right'" [max]="3"></ngx-snackbar> -->
    </div>


    <!-- <div (click)="addPackage()" class="ui button black" tabindex="0" >Add new package</div> -->
    <!-- <div class="ui action input copy-id">
        <input type="text"  [(ngModel)]="actualSitID" name="sitId" placeholder="Your package id">
         <button ngxClipboard [cbContent]="actualSitID" class="ui teal right labeled icon button">
          <i class="copy icon"></i>
          Copy
        </button>
      </div> -->
    </div>
