<h3 class="header-of-options">ADD NEW PACKAGE</h3>
<form class="ui form">
    <h4 class="ui dividing header">Packages</h4>
    <div class="ui segment">
        <app-waybill-header-form [waitIsEmpty]="waitIsEmpty" [addInprogress]="addInprogress" (packageToAdd)="updatePackageToAdd($event)"></app-waybill-header-form>
        <!-- <ngx-snackbar class="message-add" [position]="'top-right'" [max]="3"></ngx-snackbar> -->
    </div>
    <div (click)="addPackage()" class="ui button black" tabindex="0" >Add new package</div>
    <div class="ui action input copy-id">
        <input type="text"  [(ngModel)]="actualSitID" name="sitId" placeholder="Your package id">
        <!-- <button ngxClipboard [cbContent]="actualSitID" class="ui teal right labeled icon button">
          <i class="copy icon"></i>
          Copy
        </button> -->
      </div>
</form>
