<h3  class="h3 h3-responsive font-bold wow fadeInLeft header-custom" >Your package history</h3>

<table class="ui table">
  <thead>
  <tr>
        <th>ID</th>
        <th>Order name</th> 
        <th>Receiver</th> 
        <th>Date</th>
        <th>Notes</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let package of userPackages">
        <td>{{package.sitId}}</td>
        <td>{{package.orderName}}</td>
        <td>{{package.receiverFullName}}</td>
        <td>{{package.date | date:'dd/MM/yyyy'}}</td>
        <td>{{package.notes}}</td>
        <td>{{package.address}}</td>
      </tr>
    </tbody>
  </table>